body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1600px;
}
nav{
  width: 1600px;
  background-color: rgb(143, 13, 32);
  margin-top: -18px;
  font-family: Arial, sans-serif;
}
.nav_ul{
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-left: 5%;
}
li {
  display: inline;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
}
a:hover{
  color: black;
  text-decoration: underline;
}
.str1{
  background-image: url("../img/skijanje1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1600px;
  height: 700px;
  margin-top: -15px;
}
.naslov_home{
  display: flex;
  justify-content: center;
  color: black;
  float: right;
  font-size: 30px;
  font-style: italic;
  margin-top: -600px;
  margin-right: 200px;
}
.tekst{
  margin-top: -480px;
  float: right;
  margin-right: 300px;
  font-size: 28px;
}
footer{
  background-color: rgb(143, 13, 32);
  color: white;
  margin: 15px 5px;
  padding-left: 30px;
  font-family: Arial, sans-serif;
}
.naslov_bio {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  margin-bottom: -10px;
}
.centar_bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.slika_levo, .slika_desno {
  flex: 1;
}
.slika_levo img, .slika_desno img {
  max-width: 300px;
  height: auto;
  display: block;
  flex-wrap: wrap;
  border: rgb(143, 13, 32) 2px solid;
  padding: 5px 5px;
}
.slika_levo{
  margin-right: -55px;
}
.tekst_bio {
  flex: 2;
  padding: 10px 10px;
  font-size: 25px;
  margin-right: 20px;
  border:  rgb(143, 13, 32) 2px solid;
}
.tekst_bio p {
  margin-bottom: 20px;
}
.tekst_edu {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  font-size: 25px;
  text-align: justify;
}
.naslov_edu h1 {
  text-align: center;
  margin-bottom: 20px;
}
.tekst_edu {
  text-align: justify;
}
.faks{
  border: 1px solid rgb(143, 13, 32);
  background-color: #fff;
  margin-right: 50px;
  padding: 50px 50px;
  justify-content: center;
}
.srednja{
  border: 1px solid rgb(143, 13, 32);
  background-color: #fff;
  padding: 50px 50px;
  margin-right: 20px;
  justify-content: center;
}
.srednja h3, .faks h3 {
  text-align: center;
  margin-bottom: 10px;
}
p {
  margin: 0 0;
  font-size: 20px;
}
.mini_galerija > h1 {
  justify-content: center;
  text-align: center;
}
.slike {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  gap: 50px;
  max-width:1200px;
  margin: 0 auto;
}
.slike img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15%;
  justify-content: space-between;
  border:  rgb(143, 13, 32) 5px solid;
}
.trofej{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.dve_sl{
  display: flex;
  justify-content: center;
}
.dve_sl img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15%;
  justify-content: space-between;
  border:  rgb(143, 13, 32) 5px solid;
  margin: 20px 10px;
}
.boo {
  text-align: center;
  max-width: 700px;
  margin: auto;
}
h1, h2, h3 {
  margin: 20px 0;
  text-align: center;
}
.baloncinja h3 {
  justify-content: center;
  align-items: center;
}
.baloncinja {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  width: 1350px;
  height: 200px;
  margin-left: -350px;
}
.baloncinja p {
  border:  rgb(143, 13, 32) 3px solid;
  background-color: #fff;
  border-radius: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: -20px;
  font-size: 20px;
  overflow-wrap: break-word;
}
.boking {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 70px 150px;
  margin-right: 200px;
}
.video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}


